$spacing-unit: 16px;

$orange: #ff6600;
$blue: #0b4379;
$blue-dark: darken($blue, 10%);
$blue-light: lighten($blue, 10%);
$blue-shade: $blue-light;
$light-blue: #e9f1ff;
$purple: #612dbc;

$brand-primary: $blue;
$brand-secondary: $orange;
$brand-inverse: $purple;
$link-color: $blue;
$state-info-bg: $light-blue;

// Breakpoints size for responsive,
// used width the "mq" mixin
$breakpoints: (
  "mobile"        480px,
  "tablet"        768px,
  "medium"        980px,
  "large"        1200px,
);

$alert-border-radius: 0px;
$alert-border-radius-bottom: 10px;
